*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.global-banner{
    background-image: url("../../images/globalceo.jpg");
    height: 350px;
    background-size: cover;
    background-position: right;
}
.global-head{
    padding-top: 6%;
    margin-left: 7%;
}

.globalceo-name{
    font-size: 40px;
    background-color: #007EB4;
    color: #fff;
    padding: 0px 10px;
}
.globalceo-position{
    font-size: 40px;
    background-color: #007EB4;
    color: #fff;
    padding: 0px 10px;
}
.global-location{
    margin-left: 7%;
}
.global-press{
    margin-left: 7%;
    margin-top: 20px;
}
.global-press span{
    font-size: 20px;
    background-color: #007EB4;
    color: #fff;
    padding: 0px 10px;
}
.golbal-date{
    margin-left: 7%;
    margin-top: 10px;
}
.golbal-date span{
    background-color: #007EB4;
    color: #fff;
}
.golbal-read{
    margin-left: 10px;
}


.global-container{
    width: 50%;
    margin: auto;
    padding: 30px 0px;
}
.global-container h2{
    color: #007EB4;
    font-weight: 400;
}
.global-container p{
    padding: 10px 0px;
    font-size: 18px;
    color: gray;
}